.soldier {
  max-width: 60;
  display: block;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 50;
}

.messages {
  position: absolute;
  z-index: 500;
  position: fixed;
  bottom:0%;;
  top: 0; right: 0; bottom: 0; left: 0;
}
.messages_img {
  width:100%;
  height:100%;
  z-index: 500;
  position: relative;
}

.messages_input {
  font-family: Helvetica, sans-serif;
  position: absolute;
  bottom: 80px;
  left: 50px;
  width: 500px;
  z-index: 501;
  font-size: 1em;
  font-weight: bold;
}

.messages_text {
   font-family: Helvetica, sans-serif;
   position: absolute;
   bottom: 100px;
   left: 50px;
   width: 100%;
   z-index: 501;

}

.chosenCell {
  background-color:black;
}

.backgroundCell {
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

#board {
    background-image: url("pics/background.jpg");
    width: 800px;
    height: 800px;
    border: 3px solid grey;
    margin: auto;
    }

div.row div {
    width: 100px;
    height: 100px;
    }

div.row div.cell {
  box-sizing: border-box;
  border: 1px solid white;
  position: relative;
}

div.row div {
    float: left;
    }

div.row:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    }
